body{
    font-family: 'Heebo', sans-serif;
    margin: 0px;
}
h1{
    font-size: 300%;
}
h2{
    font-size: 240%;
}
.gold-color{
    color: gold;
}
.flexible-display{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 2%;
}

.half-width .p-width{
    width: 85%;
    text-align: justify;
}

.half-width img{
    width: 90%;
}

.link-button{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 500;
    background-image: linear-gradient(yellow, orange);

    
}

.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
  /*  background-attachment: fixed;
    background-size: cover; */
    
}

.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.full-baby{
    width: 50%;
}

.box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;   
    border-radius: 10px;
    box-shadow: 5px 10px 40px rgb(85, 85, 85);
    padding: 2%
}

#exp-web-dev{
    border-left: 10px solid;
    border-image: linear-gradient(orange, red) 1;
    /* border-image: linear-gradient(#ff631b, #eeff01);
    border-image-slice: 1; */
}

#bab-web-dev{
    border-left: 10px solid;
    border-image: linear-gradient(#3d1bff, #35f8ff);
    border-image-slice: 1;
}
.flexible-display p{
    text-align: justify;
}

footer p{
    text-align: center;
}